<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner inner--bottom-padding">

    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>

    <div class="content-section">
      <h1 class="cover-heading">Thank you!</h1>
      <p class="lead">
        By offsetting your business footprint, you're taking resposibility for
        the impact that your business has on the climate.
      </p>
      <p class="lead">
        We will get in touch shortly to deliver your climate report.
      </p>
      <p class="lead">
        Thanks again!
      </p>
    </div>

  </div>
</div>

<%= render "shared/footer" %>
