<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner inner--bottom-padding">

    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>

    <div class="content-section">
      <h1 class="cover-heading">Thank you!</h1>
      <p class="lead">
        We will send an invoice shortly.
      </p>
    </div>

  </div>
</div>

<%= render "shared/footer" %>
