

      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

		  <div class="inner cover">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			<h1 class="cover-heading">Thank you for offsetting your climate impact!</h1>
			<p class="lead">You are currently logged in as: <%= current_user.email %></p>
		  </div>

      <p>You have contributed to:</p> 
      <h1 style="font-size: 100px">$<%= @total %></h1>
      <p>You have contributed with:</p> 
      <h1 style="font-size: 100px">$<%= @total_contributed %></h1>


