html { height: 100%; }
body { min-height: 100%; }

.admin-main {
  padding-top: 50px;
  padding-bottom: 20px;
}

.admin-actions {
  white-space: nowrap;
}

.admin-non-production-stripes {
  background: repeating-linear-gradient(-45deg, #fffcf2, #fffcf2 20px, #fff 20px, #fff 40px);
}

.dl-horizontal {
  dt {
    text-align: left;
  }

  dd {
    margin-bottom: 5px;
  }
}

.translation_missing {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

tr {
  background: #fff;
}

.table-sticky-first-column tr > :first-child {
  position: sticky;
  left: 0;
  background: inherit;
}
