<h1>New Climate Action Category</h1>

<%= render 'form', climate_action_category: @climate_action_category %>

<hr>

<%= link_to 'Back', admin_climate_action_categories_path, class: 'btn btn-default' %>
