<% if resource.errors.any? %>
  <div class="flex items-center space-x-4">
    <span class="fas fa-exclamation-triangle text-orange-accent fa-lg"></span>
    <div class="flex-grow text-orange-dark">
      <p class="text-large font-bold">
        <%= I18n.t("errors.messages.something_wrong") %>
      </p>
      <ul class="list-bullet">
        <% resource.errors.full_messages.each do |message| %>
          <li>
            <% if message.include?('Reset password token') %>
              <%= I18n.t("errors.messages.reset_password_token_expired_html").gsub("<a href=''", "<a href='#{new_user_password_path}' class='link'").html_safe %>
            <% else %>
              <%= message %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
