<h1 class="heading-lg">New Data request for <%= @report_area&.title %></h1>
<h3 class="heading">Report: <%= @report.title %></h3>

<%= render 'form', data_request: @data_request, help_text: 'You may input multiple email addresses, separated with a comma sign (,).' %>
