<div class="space-y-3">
  <%= render 'admin/shared/notice_banner' %>

  <%= render 'admin/shared/content_header', heading: 'Data request', actions: [
      {
        title: 'Edit',
        path: edit_admin_data_request_path(@data_request),
        class: 'button-cta'
      }
    ] %>

  <dl class="dl-horizontal">
    <dt>Email:</dt>
    <dd><%= @data_reporter.email %></dd>
    
    <dt>Created:</dt>
    <dd><%= time_tag(@data_request.created_at) %></dd>
  </dl>
</div>
