<div class = "container" style = "display: inline-block;float:left;width:45%">
<h3 class="heading">Climate action toplist:</h3>
  <div class = "card" style = "outline: 2px dashed grey;">
        <table class="table"> 
            <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Times performed</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>