<h1>Editing Climate Action</h1>

<%= render 'form', climate_action: @climate_action %>

<hr>

<%= link_to 'Show', [:admin, @climate_action], class: 'btn btn-default' %>
<%= link_to 'Back', admin_climate_actions_path, class: 'btn btn-link' %>
