<h1>Editing Referral Code</h1>

<%= render 'form', referral_code: @referral_code %>

<hr>

<%= link_to 'Show', [:admin, @referral_code], class: 'btn btn-default' %>
<%= link_to 'Back', admin_referral_codes_path, class: 'btn btn-link' %>
