<span class="card-<%= card_brand(@customer_payment_method) %>"></span>
<%= masked_card_number(@customer_payment_method) %>
<span class="card-expiration"><%= card_expiration(@customer_payment_method) %></span>
