  <div class="mastfoot">
    <div class="inner">
      <p><%= link_to I18n.t('about_us'), '/about' %> | 
      <%= link_to I18n.t('contact_us'), '/contact' %> |
      <a href="https://www.goclimateneutral.org/blog/"><%=t 'blog' %></a></p>
    </div>
  </div>