<div class="form-group">
  <label for="plan" class="col-sm-offset-1 col-sm-4 control-label padding-top"><%=t 'climate_plan' %></label>
  <div class="col-sm-4">
    <select id="plan" name="user[plan]" class="form-control input-sm">
      <% if current_page?(controller: 'subscriptions', action: 'show') %>
        <% if current_plan_price %>
          <option value="cancel">cancel climate plan</option>
        <% else %>
          <option value="" selected=1>-</option>
        <% end %>
      <% end %>

      <% available_plans.each do |i| %>
        <option value="<%= i.amount %>" <%= i == current_plan_price ? "selected" : "" %> >
          <%= i.to_s(precision: :auto) %>
        </option>
      <% end %>
    </select>
  </div>
</div>
