<div class="prefooter">
    <div class="inner">
        <h2><%= t('welcome.call_to_actions.lets_save_our_planet_together') %></h2>
        <p class="lead"><%= t('welcome.how_it_works.sign_up_text') %> </p>
        <a href="/" class="btn btn-lg btn-success"><%= t('welcome.call_to_actions.go_climate_neutral') %></a>
    </div>
</div>
