<section class="relative z-0 mt-16 d-md:32">
  <div class="relative max-w-3xl mx-auto py-10 px-10 d:px-0 text-center space-y-3 z-0">
    <h3 class="heading-lg mb-6"><%= t('views.shared.prefooter.heading') %></h3>
    <p><%= t('views.shared.prefooter.body_text') %> </p>
    <p><%= link_to t('views.shared.prefooter.button'), root_path, class: 'button button-cta' %></p>
  </div>
  <div class="relative -mt-16 -z-10">
    <%= render "shared/bottom_landscape" %>
  </div>
</section>
