<section class="max-w-3xl mx-auto py-20 px-10 d:px-0 text-center space-y-3">
  <h3 class="text-xl"><%= t('welcome.call_to_actions.lets_save_our_planet_together') %></h3>
  <p><%= t('welcome.how_it_works.sign_up_text') %> </p>
  <p><a href="/" class="button"><%= t('welcome.call_to_actions.go_climate_neutral') %></a></p>
</section>
