<div class="the-price">
  <h1><%=t 'plan_price_html', cost: LifestyleChoice.get_lifestyle_choice_price(choices) %><span class="glyphicon glyphicon-question-sign price-info-helper" data-html="true" aria-hidden="true" data-toggle="popover" data-container="body" title="<%=t 'cost_calculation' %>" data-placement="auto" data-content="<%=t 'price_info_popup_content', footprint: LifestyleChoice.get_lifestyle_choice_tonnes(choices).round(1), price_per_tonne: LifestyleChoice::SEK_PER_TONNE, price_per_month: LifestyleChoice.get_lifestyle_choice_price(choices)  %>"></span></h1>
</div>