<div class="site-wrapper-inner site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
    				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
    				

            <div class="row stats">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <h1 class="cover-heading">GoClimateNeutral.org - About Us</h1>
                <p class="lead text-left">We believe that we can stop climate change - if we do it together and if we start now. </p>
                <p class="text-left">In order to stop climate change we all need to live climate neutral lives now. The best way to do that is to reduce our footprint as much as possible and at the same time start to offset for the things we can't reduce.

                The Go Climate Neutral site was founded in 2017 with the aim to make it easy to do just that - reduce our climate impact and offset for the things we can't reduce.

                We believe that the best way to help reduce climate impact is to inform, educate and inspire.

                We believe that the best way to help offset climate impact is to make it easy as possible to offset the climate impact of a specific lifestyle.

                If you have any questions about who we are our how you can support our cause, please send us an e-mail at info@goclimateneutral.org</p>
              </div>
              <div class="col-md-3"></div>
            </div>

    				
    				<p class="lead lead-btn">
    					<a href="/step_1_choose_plan" class="btn btn-lg btn-default">Go Climate Neutral Now!</a>
    				</p>
		       </div>


  </div>
  
  <%= render "shared/footer" %>

</div>