<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            
                <h1 class="cover-heading"><%=t 'contact_us' %></h1>
                <p class="lead text-left"><%=t 'general_questions_html' %></p>
            
          </div>


  </div>
  
  <%= render "shared/footer" %>

</div>



