<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            

            <div class="row stats">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <h1 class="cover-heading">GoClimateNeutral.org - About Us</h1>
                <p class="lead text-left">We believe that we can stop climate change - if we do it together. </p>
                <p class="text-left">If you want to get involved, contact us at: <a href="getinvolved@goclimateneutral.org">getinvolved@goclimateneutral.org</a></p>
                <p class="text-left">General questions, contact us at: <a href="mailto:info@goclimateneutral.org">info@goclimateneutral.org</a></p>
                <p class="text-left">If you want to talk, give us a call on: +46 70 608 43 74</p>
                <p class="text-left">Or come visit us at:</p>
                <address class="text-left">
                  <strong>GoClimateNeutral.org</strong><br>
                  c/o nilver/linden<br>
                  Garagevägen 9<br>
                  121 48 Johanneshov<br>
                  Sweden<br>
                </address>
                <iframe
                  width="100%"
                  height="400"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAk8vPBQammcPOrkqqrCSn_0tPA91fNDW4
                    &q=Garagevägen+9,+121+48+Johanneshov" allowfullscreen>
                </iframe>

                <p class="text-left">The Go Climate Neutral site was founded in 2017 with the aim to make it easy to reduce climate impact and offset the things we can't reduce.

We believe that the best way to help reduce climate impact is to inform, educate and inspire.

We believe that the best way to help offset climate impact is to make it easy as possible to offset the climate impact of a specific lifestyle.</p>

              </div>
              <div class="col-md-3"></div>
            </div>

            
            <p class="lead lead-btn">
              <a href="/step_1_choose_plan" class="btn btn-lg btn-default">Go Climate Neutral Now!</a>
            </p>
           </div>


  </div>
  
  <%= render "shared/footer" %>

</div>



