<div class="site-wrapper-inner site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

      <div class="inner cover">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        
            <h1 class="cover-heading">A friendly guide to climate change</h1>
            

            <iframe width="560" height="315" src="https://www.youtube.com/embed/3CM_KkDuzGQ" frameborder="0" allowfullscreen></iframe>

      </div>
  </div>
  
  <%= render "shared/footer" %>

</div>