      <div class="site-wrapper-inner site-wrapper-first">
        
        <div class="cover-container">
          
          <%= render "shared/header" %>

          <div class="inner cover">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				<h1 class="cover-heading">Live a Climate Neutral Life</h1>
				<p class="lead">Climate change is the greatest challenge of our time. Together we have a chance to give our children the future on this planet that they deserve. But we have to act now.</p>
				<p class="lead lead-btn">
					<a href="/step_1_reduce" class="btn btn-lg btn-default">Go Climate Neutral!</a>
				</p>
			</div>

          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
		    <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
		    <h1 class="cover-heading">We can help you reduce your climate impact</h1>
		    <p class="lead">The best way to help stop climate change is to reduce your climate impact. Start with what makes the biggest impact: eat wisely, commute green, fly less and invest green.</p>
		    <p class="lead lead-btn">
				<a href="/step_1_reduce" class="btn btn-lg btn-default">How do I reduce?</a>
			</p>
		  </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>
      
      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>

            <h1 class="cover-heading">We can help you offset your climate impact</h1>
            <p class="lead">What you can't reduce, you can offset. A good way to offset your negative climate impact is to invest in <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b>. This is something we can help you with.</p>
            <p class="lead lead-btn">
				<a href="/step_2_offset" class="btn btn-lg btn-default">How do I offset?</a>
			</p>
            
          </div>

        </div>
      </div>

	<div class="mastfoot">
        <div class="inner">
          <p>Read more about us <a href="https://www.goclimateneutral.org/blog/about/">here</a>.</p>
        </div>
    </div>