
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

      <%= render "shared/header" %>

		  <div class="inner cover">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			<h1 class="cover-heading">Live a Climate Neutral Life</h1>
			<p class="lead">Climate Change is the biggest challenge of our time. Together we have a chance to give our children the future on this planet that they deserve. But we have to act now.</p>
			<p class="lead lead-btn">
		  		<a href="/step_1_reduce" class="btn btn-lg btn-default">Go Climate Neutral!</a>
			</p>
		  </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Read more about us <a href="https://www.goclimateneutral.org/blog/about/">here</a>.</p>
        </div>
      </div>