<div class="site-wrapper-inner solo-inner-wrapper site-wrapper-first">
  <div class="cover-container">
    
    <%= render "shared/header" %>

          <div class="inner cover">
    				
    				<h1 class="cover-heading">Welcome to a Climate Neutral Life!</h1>
    				<p class="lead">Climate change is the greatest challenge of our time. Together we have a chance to give our children the future on this planet that they deserve. But we have to act now.</p>
    				<p class="lead lead-btn">
    					<a href="/step_1_choose_plan" class="btn btn-lg btn-success">Go Climate Neutral Now!</a>
    				</p>
		       </div>


  </div>
  
  <%= render "shared/footer" %>

</div>