
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Live Climate Neutral</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

		  <div class="inner cover">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			<h1 class="cover-heading">Live a Climate Neutral Life</h1>
			<p class="lead">Climate Change is the biggest challange of our time. Together we have a chance to give our children the future on this planet that they deserve. But we have to act now.</p>
			<p class="lead lead-btn">
		  		<a href="/step_1_reduce" class="btn btn-lg btn-default">Go Climate Neutral Now</a>
			</p>
		  </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Read more about us <a href="#">here</a>.</p>
        </div>
      </div>