      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <a id="show-video" href=""><span class="glyphicon" aria-hidden="true"><%= image_tag "play.png" %></span></a>
            <h1 class="cover-heading">Klimatkompensera med oss!</h1>
            <p class="lead">Klimatförändringar är det största hotet som vår generation någonsin ställts inför. Genom att tillsammans börja klimatkompensera kan vi bromsa klimatförändringarna och rädda världen, OM vi agerar nu.</p>
            <p class="lead lead-btn">
              <a href="/#choose-plan" class="btn btn-lg btn-success">Börja klimatkompensera!</a>
            </p>
          </div>
        </div>
      </div>

      <%= render "shared/video_modal" %>

      <%= render "shared/footer" %>
        
  
