
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Live Climate Neutral</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            <h1 class="cover-heading">Step 2: Offset what you can't reduce</h1>
            <p class="lead">What you can't reduce, you can offset. A good way to offset your negative climate impact is to invest in <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b>. Go directly to the UN site and invest there, or scroll down to see how we help you automaticly invest in climate effective UN Gold Standard projects each month.</p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading">So if you want to, we can help you</h1>
            <p class="lead">By each month taking a sum you select from your credit card and choosing the <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b> that has the most positive impact for the environment, we can help you live a climate neutral life. This way you can be sure you are living as climate neutural as possible over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>


      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            <h1 class="cover-heading">It's more fun to do it together</h1>
            <p class="lead">By offseting your climate impact with us, you inspire others to do the same. Climate change is a challange we face together, so we should fight it together as well. And it's fun seeing the impact we can make together and follow the process over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading">Start by choosing a climate offset plan</h1>
            <p class="lead">Whats your climate impact? Let us help you offset your climate impact by choosing a climate offset plan that corresponds most to your lifestyle below.</p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Hero Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $5<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Vegan
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          No car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Hardly ever flies
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button">This is me!</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Caring Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $10<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Mostly Vegetarian
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          One fuel efficient car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Flies sometimes
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=10" class="btn btn-success" role="button">Yep, me!</a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Custom Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $<span id="sum">x</span><span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td class="form">
                                          <select id="food" class="form-control input-sm">
                                            <option value="1">Vegan</option>
                                            <option value="2">Vegetarian</option>
                                            <option value="5">Mostly Vegetarian</option>
                                            <option value="8">Sometimes Vegetarian</option>
                                            <option value="10">Meat Eater</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td class="form">
                                          <select id="car" class="form-control input-sm">
                                            <option value="0">No Car</option>
                                            <option value="2">Fuel efficient car, seldom drives</option>
                                            <option value="5">Fuel efficient car, drives often</option>
                                            <option value="4">Normal car, seldom drives</option>
                                            <option value="10">Normal car, drives often</option>
                                            <option value="8">SUV, seldom drives</option>
                                            <option value="15">SUV, drives often</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="form">
                                          <select id="flight" class="form-control input-sm">
                                            <option value="0">Never flies</option>
                                            <option value="2">Flies short distance once a year</option>
                                            <option value="8">Flies short distance once a month</option>
                                            <option value="5">Flies long distance once a year</option>
                                            <option value="15">Flies long distance once a month</option>
                                          </select>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a id="custom-plan" href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button">That's more like it!</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <p class="lead"></p>
          <p class="lead">Read more on how we calculate the offset plans <b><a href="">here</a></b>. Read more about how we choose what UN Gold Standard climate projects to invest in <b><a href="">here</a></b>. If you want a more accurate plan that corresponds better to your lifestyle, please use a good <b><a href="http://www.carbonfootprint.com/calculator.aspx">climate calculator</a></b> and enter your monthly CO2-emissions <b><a href="#">here</a></b>.</p>

          </div>
        </div>
      </div>


