
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Live Climate Neutral</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            <h1 class="cover-heading">2. Offset what you can't reduce</h1>
            <p class="lead">What you can't reduce, you can offset. A good way to offset your negative climate impact is to invest in <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b>. What we can do is help you automaticly - each month - reduce your climate impact by doing the best investments for the climate for you.</p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading">2.1 If you want to, we can help you</h1>
            <p class="lead">We can help you offset your climate impace by choosing the <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b> that we believe does the most positive impact for the environment for you. We do this automatically every month, so that you can be sure you are living as climate neutural as possible over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>


      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            <h1 class="cover-heading">2.2 It's more fun to do it together</h1>
            <p class="lead">By offseting your climate impact with us, you inspire others to do the same. Climate change is a challange we face together, so we should fight it together as well.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading">2.3 Start by choosing a climate offset plan</h1>
            <p class="lead">Whats your climate impact? Choose a plan that corresponds most to your lifestyle below.</p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Hero Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $5<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Vegan
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          No car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Hardly ever flies
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="/signup" class="btn btn-success" role="button">This is me!</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="cnrflash">
                              <div class="cnrflash-inner">
                                  <span class="cnrflash-label">MOST
                                      <br>
                                      POPULR</span>
                              </div>
                          </div>
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Caring Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $10<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Mostly Vegetarian Diet
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          One fuel efficient car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Flies sometimes
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="/signup" class="btn btn-success" role="button">Yep, me!</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-info">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Criminal Offset Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $40<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Meat Eater
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          One SUV
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Flies often
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="/signup" class="btn btn-success" role="button">Sorry, but yes.</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <p class="lead">If you want a more accurate plan, please use a good <b><a href="http://www.carbonfootprint.com/calculator.aspx">climate calculator</a></b> and enter your monthly CO2-emissions <b><a href="#">here</a></b>.</p>

          </div>
        </div>
      </div>


