<div class="inner cover">


  <span class="glyphicon glyphicon-grain" aria-hidden="true" style="font-size: 150px; padding-top: 50px;"></span>

  <h1 class="cover-heading">2. Offset what you can't reduce</h1>

  <p class="lead">What you can't reduce, you can offset. A good way to offset your negative climate impact is to invest in <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b>. What we can do is help you automaticly - each month - reduce your climate impact by doing the best investments for the climate for you.</p>

  <p class="lead" style="padding-top: 50px;">
    <a href="/step_2_choose_lifestyle" class="btn btn-lg btn-default">Ok, I'm interested, whats next?</a>
  </p>
</div>