
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <%= render "shared/header" %>

          <div class="inner cover">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            <h1 class="cover-heading">Step 2: Offset what you can't reduce</h1>
            <p class="lead">What you can't reduce, you can offset. A good way to offset your negative climate impact is to invest in <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b>. Go directly to the UN site and invest there, or scroll down to see how we help you automaticly invest in climate effective UN Gold Standard projects each month.</p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h1 class="cover-heading">If you want to, we can help you</h1>
            <p class="lead">By each month investing in the <b><a href="http://climateneutralnow.org/Pages/Home.aspx">UN Gold Standard climate projects</a></b> that has the most positive impact for the environment for you - with a sum that corresponds to your lifestyle - we can help you offset your climate footprint. This way you can live an as climate neutural life as possible over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>


      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            <h1 class="cover-heading">It's more fun to do it together</h1>
            <p class="lead">By offseting your climate impact with us, you inspire others to do the same. Climate change is a challange we face together, so we should fight it together as well. And it's fun seeing the impact we can make together and follow the process over time.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <h1 class="cover-heading">100% transparent</h1>
            <p class="lead">We promise to be 100% transparent in which climate offset projects we invest in, and why. We are also 100% transparent with the amount corbon we manage to offset with your help, and how much carbon we manage to offset with the help of all of our users.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-fifth">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <h1 class="cover-heading">97.5% effective</h1>
            <p class="lead">97.5% of what you offset for goes directly to the most effective climate reducing projects we can find. The other 2.5% goes to covering our costs and for marketing of the service to get even more people to live a more climate neutral life. This is excluding any credit card fees that may apply depending on which country you live in.</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>


      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <h1 class="cover-heading">Start by choosing a climate offset plan</h1>
            <p class="lead">Whats your climate impact? Let us help you offset your climate impact by choosing a climate offset plan that corresponds most to your lifestyle below.</p>

            <div class="plan container">
              <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Hero</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $5<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Vegan
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          No car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Hardly ever flies
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button">This is me!</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Climate Caring</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $10<span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td>
                                          Mostly Vegetarian
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td>
                                          One fuel efficient car
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          Flies sometimes
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a href="<%= new_registration_path(:user) %>?plan=10" class="btn btn-success" role="button">Yep, me!</a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-xs-12 col-md-4">
                      <div class="panel panel-success">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  Custom Plan</h3>
                          </div>
                          <div class="panel-body">
                              <div class="the-price">
                                  <h1>
                                      $<span id="sum">x</span><span class="subscript">/mo</span></h1>
                              </div>
                              <table class="table">
                                  <tr>
                                      <td class="form">
                                          <select id="food" class="form-control input-sm">
                                            <option value="1">Vegan</option>
                                            <option value="2">Vegetarian</option>
                                            <option value="5">Mostly Vegetarian</option>
                                            <option value="8">Sometimes Vegetarian</option>
                                            <option value="10">Meat Eater</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr class="active">
                                      <td class="form">
                                          <select id="car" class="form-control input-sm">
                                            <option value="0">No Car</option>
                                            <option value="2">Fuel efficient car, seldom drives</option>
                                            <option value="5">Fuel efficient car, drives often</option>
                                            <option value="4">Normal car, seldom drives</option>
                                            <option value="10">Normal car, drives often</option>
                                            <option value="8">SUV, seldom drives</option>
                                            <option value="15">SUV, drives often</option>
                                          </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="form">
                                          <select id="flight" class="form-control input-sm">
                                            <option value="0">Never flies</option>
                                            <option value="2">Flies short distance once a year</option>
                                            <option value="8">Flies short distance once a month</option>
                                            <option value="5">Flies long distance once a year</option>
                                            <option value="15">Flies long distance once a month</option>
                                          </select>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                          <div class="panel-footer">
                              <a id="custom-plan" href="<%= new_registration_path(:user) %>?plan=5" class="btn btn-success" role="button">That's it!</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <p class="lead"></p>
          <p class="lead">Read more on how we calculate the offset plans <b><a href="">here</a></b>. Read more about how we choose what UN Gold Standard climate projects to invest in <b><a href="">here</a></b>.</p>

          </div>
        </div>
      </div>


