
      <div class="site-wrapper-inner site-wrapper-first">
        
        <div class="cover-container">
          
          <%= render "shared/header" %>

          <div class="inner cover">
          	<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
            <h1 class="cover-heading">Step 1: Reduce your emissions</h1>
            <p class="lead">We firmly belive that the best way to reduce claimate change is to reduce your emissions. Start with what makes the biggest impact: eat wisely, commute green, fly less and invest green.</p>
          </div>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            <h1 class="cover-heading">Eat Wisely</h1>
            <p class="lead">Eat less animal products and more local food. You don't have to go completely vegan, every meat free meal counts. Also, eat local and organic food when you can. It's one of the easiest things you can do to make a climate impact right now.</p>
            <p>*Animal agriculture is responsible for 18 percent of greenhouse gas emissions</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>
      
      <div class="site-wrapper-inner site-wrapper-third">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            <h1 class="cover-heading">Commute Green</h1>
            <p class="lead">Take your bike to work. If thats not possible, take the subway, the bus or the train. And if thats not possible, travel with a friend, go with an electric car or at the very least a very fuel efficient car.</p>
            <p>*Transportation is responsible for 26 percent of greenhouse gas emissions</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-second">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h1 class="cover-heading">Fly Less</h1>
            <p class="lead">Fly less. Go on local holidays, have more business meetings via Skype and try going far away places by train. It's simple, it's easy and it's fun.</p>
            <p>*Since 1990, CO2 emissions from international aviation have increased 83 per cent</p>
          </div>
        </div>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
      </div>

      <div class="site-wrapper-inner site-wrapper-fifth">
        <div class="cover-container">
          <div class="inner cover">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <h1 class="cover-heading">Invest Green</h1>
            <p class="lead">Invest in renewable energy funds and in green companies. Stay away from oil, coal and companies that are not taking their sustainablility and climate impact seriously. Change your pension funds to green funds, place your childrens money in renewable funds and invest your savings in sustainable companies.</p>
            <p class="lead lead-btn">
              <a href="step_2_offset" class="btn btn-lg btn-default">Ok, I get it, whats next?</a>
            </p>
          </div>
        </div>
      </div>

