
      <div class="site-wrapper-inner site-wrapper-first">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Live Climate Neutral</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Log in</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
          	<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
            <h1 class="cover-heading">1. Reduce your emissions</h1>
            <p class="lead">We firmly belive that the best way to reduce claimate change is to reduce your emissions. Fly less, eat less products from animals, take the bike to work etc.</p>
            <p class="lead lead-btn">
              <a href="step_2_offset" class="btn btn-lg btn-default">Ok, I get it, whats next?</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Read more about us <a href="#">here</a>.</p>
            </div>
          </div>