<div class="inner cover">

	<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true" style="font-size: 150px; padding-top: 50px;"></span>

  <h1 class="cover-heading">1. Reduce your emissions</h1>

  <p class="lead">We firmly belive that the best way to reduce claimate change is to reduce your emissions. Fly less, eat less products from animals, take the bike to work etc.</p>

  <p class="lead" style="padding-top: 50px;">
    <a href="step_2_offset" class="btn btn-lg btn-default">Ok, I'm there, whats next?</a>
  </p>

</div>