<%= render "shared/header" %>

<section class="section-padding">
  <h1 class="heading-xl mb-6">Our Privacy Policy</h1>

  <div class="max-w-3xl">
    <p class="mb-6">Date: 2018-12-26</p>

    <h2 class="heading">1. Introduction</h2>
    <p class="mb-6">This Privacy Policy describes how GoClimateNeutral Sweden AB (reg. no. 559130-6583) handles your personal data.</p>

    <p class="mb-6">Your personal integrity and data is important to us. This policy will hopefully help you understand what kind of personal data we collect and how it is used when you are using our service, as well as your rights. We ask that you read this Privacy Policy carefully since it applies to all use of our services, regardless of who you are and our relationship with you.</p>

    <p class="mb-6">If we make updates to this Privacy Policy, we will inform you in an appropriate manner. The date of the most recent update of this Privacy Policy is given at the top of the policy. If you have questions about this Policy, please contact us at hello@goclimate.com.</p>

    <h2 class="heading">2. Personal data</h2>
    <p class="mb-6">Here you can read about which personal data we process and why, how it is collected, the processing activities involved, with whom we share the data and the time period during which we store your data.</p>

    <h3 class="font-bold">2.1 The personal data we process</h3>
    <p class="mb-6">
    The categories of personal data we process are the following:
    <br>
    (a)  Name, country of residence, email address and other contact details you may provide us with<br>
    (b)  User account details, user settings, personal preferences, newsletter settings and any content that you may have saved on our website
    </p>

    <h3 class="font-bold">2.2  How we collect personal data</h3>
    <p class="mb-6">We receive your personal data when you register or update an account or in any other way provide us with your personal data.</p>

    <h3 class="font-bold mb-6">2.3 Why we process your personal data, legal ground for our processing and storage period</h3 class="font-bold">

    <h4 class="font-bold">2.3.1 To provide our services</h4>
    <p class="mb-6">We process your personal data to provide you with our services. Our processing for the purpose of providing our services - is necessary to fulfil our legitimate interest todo so.</p>

    <h4 class="font-bold">2.3.2 To send you newsletters and monthly updates of your subscription</h4>
    <p class="mb-6">We also process your personal data to send you newsletters and monthly updates of your subscription. You may opt-out from further messages at any time by using the unsubscription link provided in every message.</p>

    <h4 class="font-bold">2.3.3 To comply with legal obligations</h4>
    <p class="mb-6">We may also process your personal data in order to comply with legal obligations set out in law or as decided by a court or other authorities. These requirements may be related to bookkeeping and anti-money laundering legislation. Our processing for this purpose is that it is necessary for us to comply with legal obligations applicable to us.</p>

    <h3 class="font-bold">2.4 How we share your personal data</h3>
    <p class="mb-6">
    These are the types of third parties with whom we share your personal data:
    <br>
    (a)  Service providers: We use third party service providers to manage some aspects of our business operations. We share personal data with such third parties with regard to IT infrastructure, operating and hosting services, email communications and other IT services. When we use such service providers we will enter into a data processing agreement with the service provider.
    <br>
    (b)  We may also share your personal data to the authorities, such as the police our tax authorities when we are required to so by law.
    </p>

    <h3 class="font-bold">2.5 For how long do we store your personal data?</h3>
    <p class="mb-6">We will only store your personal data for as long as it is necessary for the purposes they were collected and to fulfill our legal duties to store data otherwise. We store your personal data as long as you have a user account or as long you subscribe to our newsletters.</p>

    <h2 class="heading">3. Security measures</h3>
    <p class="mb-6">We have taken security measures to ensure that the personal data we keep is secure. Access to areas where personal data is stored is limited to our employees and service providers who require it in the course of their duties and who are informed of the importance of maintaining the security and confidentiality of the personal data we keep.</p>

    <h3 class="font-bold">3.1 Where do we process your personal data?</h3>
    <p class="mb-6">We strive to process your personal data within the EU and EEA. However, we may transfer your personal data to our service providers who may be located in or have business activities in a country outside the EU/EEA. In the event of such transfer, it will be made in accordance with applicable data protection law for example by ensuring that the country in which the recipient is located ensures an adequate level of data protection according to the European Commission or by use of standard contractual clauses that the European Commission has issued ensuring suitable measures to safeguard your rights and freedoms.</p>

    <h2 class="heading mb-6">4. Your rights</h2>

    <h3 class="font-bold">4.1 Introduction</h3>
    <p class="mb-6">In this section, we describe your rights under applicable data protection law. You are welcome to email us at hello@goclimate.com to exercise your rights or if you have any questions or comments regarding our processing of your personal data or this Privacy Policy. We will respond within a reasonable period of time upon verification of your identity.</p>

    <h3 class="font-bold">4.2 Right of access and rectification</h3>
    <p class="mb-6">You have the right to information regarding which of your personal data we process and to access and rectify such data. To learn more about the information we store about you, contact us at hello@goclimate.com.</p>

    <h3 class="font-bold">4.3 Right to erasure</h3>
    <p class="mb-6">
    You may request that we erase your personal data without undue delay in the following circumstances:
    <br>
    (a)  the personal data is no longer necessary in relation to the purposes for which they were collected or otherwise processed;
    <br>
    (b)  you withdraw your consent on which the processing is based (if applicable) and there is no other legal ground for the processing;
    <br>
    (c)  you object to our processing of personal data and we do not have any overriding legitimate grounds for the processing;
    <br>
    (d)  the processed personal data is unlawfully processed; or
    <br>
    (e)  the processed personal data has to be erased for compliance with legal obligations.
    <br>
    We may deny your request if we are prevented from erasing your personal data by requirements set out in applicable laws and regulations or if they are needed for the establishment, exercise or defence of legal claims.
    </p>

    <h3 class="font-bold">4.4 Right to object</h3>
    <p class="mb-6">You have the general right to object to our processing of your personal data when it is based on our legitimate interest. If you object and we believe that we may still process your personal data, we must demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or for the establishment, exercise or defence of legal claims.</p>

    <h3 class="font-bold">4.5 Right to data portability</h3>
    <p class="mb-6">If your personal data has been provided by you and our processing of your personal data is based on your consent, you have the right to receive the personal data concerning you in a structured, commonly used and machine-readable format in order to transmit these to another service provider where it would be technically feasible and can be carried out by automated means.</p>

    <h3 class="font-bold">4.6 Right to withdraw consent</h3>
    <p class="mb-6">When our processing of your personal data is based on your consent, you have the right to withdraw your consent at any time. Please note that the lawfulness of processing based on consent before its withdrawal is not affected.</p>

    <h3 class="font-bold">4.7  Right to file a complaint</h3>
    <p>You may at any time lodge a complaint with the supervisory authority if you believe that our processing is performed in breach of applicable data protection law. Please note that you are also always welcome to contact us in such event.</p>
  </div>
</section>

<%= render "shared/footer" %>
