<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<hr>

<%= link_to 'Show', [:admin, @project], class: 'btn btn-default' %>
<%= link_to 'Back', admin_projects_path, class: 'btn btn-link' %>
