.button {
  @apply
    inline-block
    py-2 px-4
    border rounded border-current
    bg-transparent
    whitespace-no-wrap
    text-primary
    transition duration-200
    cursor-pointer;

  &:hover {
    @apply bg-primary text-white;
  }

  &:active {
    @apply transform translate-y-px;
  }

  &-inverted {
    @apply text-white;

    &:hover {
      @apply bg-white text-primary;
    }
  }

  &-cta {
    @apply bg-yellow-accent border-none;

    &:hover {
      @apply bg-primary text-white;
    }
  }
}
