.input {
  /* TODO: Text is extra large because 16px is the smallest iOS accepts
   * without zooming. We should consider making this our default text size
   * globally
   * */
  @apply
    p-2
    leading-6
    text-primary
    text-base
    border border-primary rounded bg-white
    cursor-text; /* For when we're styling a container as the input */

  &:focus-within, &:focus, &.StripeElement--focus {
    @apply shadow-outline;
  }

  /* Disable default focus styling by browsers */
  &:focus, input:focus { @apply outline-none; }

  /* Disable native styling for Webkit on iOS */
  &, & input { -webkit-appearance: none; }

  &:disabled {
    @apply 
      text-gray-shade-1
      border-gray-shade-2
      bg-gray-tint-2
      cursor-not-allowed;
  }
}
