.link {
  @apply
    text-green-shade-1
    border-b-2
    transition duration-100 ease-linear;

  &:hover {
    @apply text-primary border-b-4;
  }
}

.link-icon {
  @apply
    transition-colors duration-100 ease-linear
    text-green-shade-1;

  &:hover {
    @apply text-primary;
  }
}

.link-ui {
  @apply
    transition duration-100 ease-linear
    border-b-0 border-current cursor-pointer;

  &:hover {
    @apply border-b-4;
  }
}
