.list-bullet {
  li::before {
    content: '\2022';
    width: 1em;
    display: inline-block;
    margin-left: -1em;
  }

  li {
    padding-left: 1em;
  }
}

.list-check {
  li::before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 1.5rem;

    @apply
      absolute
      -ml-8
      text-green-accent;
  }

  li {
    @apply
      relative
      pl-8;
  }
}

.list-number {
  counter-reset: my-list;

  li {
    counter-increment: my-list;
  }

  li::before {
    content: counter(my-list) ". ";

    @apply
      font-semibold
      mr-1;
  }
}
