.modal-container {
  @apply fixed top-0 left-0 right-0 bottom-0 z-40
    bg-black bg-opacity-75
    invisible;
}

.modal-content {
  @apply bg-white rounded-lg shadow-lg p-4
    border border-gray-tint-2
    absolute top-1/2 left-1/2 
    transform -translate-y-1/2 -translate-x-1/2 
    w-11/12 max-w-2xl;

  @screen t {
    @apply p-8;
  }
}

.modal-heading {
  @apply text-xl font-semibold pr-6;

  @screen d-md {
    @apply text-2xl;
  }
}

.modal-close-button {
  @apply absolute top-0 right-0 p-4;

  @screen d {
    @apply p-0 mt-2 mr-3;
  }
}

.modal-actions {
  @apply flex flex-col mt-3;

  .button {
    @apply my-2;
  }
  @screen t {
    @apply flex-row justify-end;

    .button {
      @apply my-0 mx-2;
    }
  }
}
