.tooltip {
  @apply relative inline-block;
}

.tooltip::before {
  content: attr(data-tooltip);
  min-width: 200px;
  max-width: 300px;

  @apply absolute top-1/2 left-100
    p-2 ml-2
    transform -translate-y-1/2
    bg-black text-white rounded 
    text-sm font-normal
    text-center 
    hidden;
}

.tooltip::after {
  content: "";
  border:10px solid #000;
  border-color: transparent black transparent transparent;

  @apply absolute
    left-100 top-1/2
    transform -translate-y-1/2
    -ml-2
    hidden;
}
.tooltip:hover::before, .tooltip:hover::after {
  line-height: normal;
  
  @apply block ;
}
