.content-section {
  margin-top: 0;
  margin-bottom: 0;

  & + .content-section {
    margin-top: 40px;
  }

  .description {
    padding-bottom: 20px;
    text-align: left;
  }
  .tooltip-inner {
    width: 300px; 
  }
}
