<%= render "shared/header" %>

<section class="section-padding min-h-1/2-screen flex items-center">
  <div class="max-w-xl mx-auto space-y-3">
    <h1 class="heading-lg">An error occurred on our side</h1>
    <p>We're sorry, but an error occured on our side. We have been notified about it and will look into it as soon as possible. Please try again in a few moments.</p>
    <p>If you have any questions, please don't hesitate to get in touch with us at <%= link_to 'hello@goclimate.com', 'mailto:hello@goclimate.com', class: 'link' %>.</p>
  </div>
</section>

<%= render "shared/footer", skip_prefooter: true %>

