<div class="site-wrapper-first">
  <%= render "shared/header" %>
  <div class="inner">

    <h1>Page not found</h1>
    <p>We're sorry, but we can't find that page.</p>

  </div>
</div>

<%= render "shared/footer" %>
