<h1>Editing Data Reporter</h1>

<%= render 'form', data_reporter: @data_reporter %>

<hr>

<%= link_to 'Show', [:admin, @data_reporter], class: 'btn btn-default' %>
<%= link_to 'Back', admin_data_reporter_path, class: 'btn btn-link' %>
