@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'components/button.scss';
@import 'components/callout.scss';
@import 'components/collapse.scss';
@import 'components/credit-card.scss';
@import 'components/divider.scss';
@import 'components/dropdown.scss';
@import 'components/headings.scss';
@import 'components/input.scss';
@import 'components/link.scss';
@import 'components/lists.scss';
@import 'components/modal.scss';
@import 'components/section_gutter.scss';
@import 'components/section_padding.scss';
@import 'components/select.scss';
@import 'components/toggler.scss';
@import 'components/tooltip.scss';

@import 'tailwindcss/utilities';

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
