<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<hr>

<%= link_to 'Show', [:admin, @organization], class: 'btn btn-default' %>
<%= link_to 'Back', admin_organization_path, class: 'btn btn-link' %>
