<div data-controller="add-nested-fields">
  <%= fields_for local_assigns[:fields_for], BusinessCalculators::CalculatorField.new do |field_fields| %>
    <div class="hidden" data-target="add-nested-fields.template" style="">
      <div class="row" style="padding-top: 0.5em">
        <%= render "field_layout", fields: field_fields, hide_delete: true, label_class: 'add-nested-fields-label-field', input_class: 'add-nested-fields-input-field' %>
      </div>
    </div>
  <% end %>

  <div data-target="add-nested-fields.destination"></div>

  <button type="button" class="btn btn-default" data-action="add-nested-fields#cloneToDestinationWithSecondNumberIncremented">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add field
  </button>
</div>  
