.businesses, .welcome-business {
  div.button {
    float: none;
    text-align: center;
    margin: 0 auto; 
  }
  div.button button {
    float: none;
  }
  p.big-number {
    line-height: 150%;
  }
  .company-logos {
    min-height: 0px;
  }
  .company-logos img {
    padding-top: 50px;
  }
  .big-number {
    font-size: 60px;
  }
}
