.flight_offsets {
  th {
    font-weight: bold;
  }
  td {
    text-align: left;
    line-height: 2 !important;
  }
  td.total {
    text-align: right;
    font-weight: bold;
  }
  .green-leaf img {
    width: 100px;
  }
  .panel {
    text-align: left;
  }
  .panel .panel-body {
    text-align: left;
  }
  .lead.last {
    padding-bottom: 220px;
  }
}
