.gift-cards-intro {
  h1, h2 {
    margin: 0;
  }

  &__header-row {
    margin-bottom: 20px;
  }

  &__intro-row {
    font-size: 18px;

    p {
      line-height: 1.5;
    }
  }

  &__choose-row {
    margin-bottom: 30px;
  }

  &__details-row {
    margin-bottom: 30px;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }
}

a.example-gift-card {
  text-decoration: underline;
}

.btn-choose-gift-card {
  white-space: normal !important;
}

.gift-card-details {
  max-width: 400px;
  margin: 30px auto 5px;
}

.gift-card-details-row {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.gift-card-payment {
  max-width: 400px;
  margin: 40px auto 0px;
  text-align: left;

  label {
    margin-top: 10px;
  }

  .form-control, #card-element {
    max-width: 100%; /* Resets Bootstrap default after being overriden in other places */
  }
}

.text-right {
  text-align: right;
}
