.impact-calculator-fields {
  .impact-calculator-fields--lifestyle-choice {
    margin-bottom: 5px;
  }

  .impact-calculator-fields--price {
    margin-top: 20px;
    line-height: 1em;
    padding: 0;
    font-size: 18px;
  }

  .impact-calculator-fields--price-sum {
    font-weight: bold;
  }
}
