.projects-list-item {
  &--heading {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  h2 {
    flex: 1 1 auto;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;

    @media(min-width: 768px) {
      font-size: 24px;
      line-height: 40px;
    }
  }

  &--details {
    display: none;
  }

  &__expanded &--details {
    display: block;
  }

  &--image, &--chevron {
    flex-shrink: 0;
  }

  &--image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  &--chevron {
    transition: transform 0.5s;
    margin-left: 15px;

    > .glyphicon {
      font-size: 20px;
      padding-top: 4px; /* Make midpoint of rotation more natural */
    }
  }

  &__expanded &--chevron {
    transform: rotate(-180deg);
  }
}
