.registrations {
    .privacy-policy-link {
        text-decoration: underline;
    }
    .field_with_errors .message {
        display: block;
    }
    .form-horizontal {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .lead {
        margin-top: 20px;
    }
}
