.registrations {
    .form-group input { 
        text-align: left; 
    }
    input#user_privacy_policy { 
        width: 25px;
        margin-top: 4px;
        transform: scale(1.3) !important;
    }
    .privacy-policy-link {
        text-decoration: underline;
    }
    .field_with_errors .message {
        display: block;
    }
    .form-horizontal {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .lead {
        margin-top: 20px;
    }
}
