.region-recommendation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 30px;
  background: #444;
  color: #fff;

  &__main {
    text-align: left;
  }

  &__button {
    margin-top: 15px;
  }

  &__dismiss {
    display: flex;
    align-items: center;
  }

  &__dismiss-button {
    margin-left: 25px;
    margin-right: -5px;
    padding: 5px;
    background: transparent;
    border: 0;
    color: #fff;
  }

  @media (min-width: 768px) {
    &__main {
      display: flex;
      width: auto;
      align-items: center;
    }

    &__text {
      margin-top: 3px;
    }

    &__button {
      margin-top: 0;
      margin-left: 15px;
    }
  }
}
