<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c96c0051-5e25-403d-bdf2-9ddc81e26d84" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="text-align:inherit; line-height:40px; padding:0px 24px 0px 24px;" height="100%" valign="top" bgcolor="" role="module-content"><div><h1 style="text-align: center">
        <%= text.html_safe %>
      </h1><div></div></div></td>
    </tr>
  </tbody>
</table>
