<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8a54b6e4-145d-4427-b4aa-e0225fe1e7f6" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="line-height:22px; text-align:inherit; padding:0px 24px 0px 24px;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">
        <%= prefix %>
      </div><div></div></div></td>
    </tr>
  </tbody>
</table>
<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8a54b6e4-145d-4427-b4aa-e0225fe1e7f6.1" data-mc-module-version="2019-10-22">
  <tbody>
  <%= user_climate_actions %>
  <% user_climate_actions.each do |user_climate_action| %>
    <tr>
      <td style="text-align:inherit; line-height:40px; padding:18px 24px 0px 24px;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="font-size: 30px; font-family: inherit"><strong>
        <%= user_climate_action.climate_action_id %>
      </strong></span></div><div></div></div></td>
    </tr>
    <% end%>
  </tbody>
</table>
<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8a54b6e4-145d-4427-b4aa-e0225fe1e7f6.1.1" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="line-height:22px; text-align:inherit; padding:0px 24px 0px 24px;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center">
        <%= suffix %>
      </div><div></div></div></td>
    </tr>
  </tbody>
</table>