/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

a,
a:focus,
a:hover {
  color: #333;
}
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #444444;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
p {
    line-height: 200%;
    margin: 0 auto;
    max-width: 600px;
}
p.lead-btn, p.alert, p.warning, p.info, p.notice {
   max-width: none;
}
hr {
    margin: 60px;
}
input { 
    text-align: left;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-social {
  width: 242px;
}
.offset-projects {
  padding-bottom: 40px;
}
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner {
  padding: 50px 30px;
}
ul.nav.nav-tabs li.active a {
  background-color: #edf7f6;
  border-bottom-color: #edf7f6;
}
.nav-tabs {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
.nav.nav-tabs a:hover {
  background-color: #fff;
}
.nav.nav-tabs .active a:hover {
  background-color: transparent;
}
.nav.nav-tabs .active {
  font-weight: bold;
}
.projects, .lifestyle_choices {
  color: #fff;
}
.projects a, .lifestyle_choices a {
  color: blue;
  padding: 5px;
}
.projects input, .lifestyle_choices input {
  color: #000;
}
.welcome-our_projects .site-wrapper-first .inner {
   padding-bottom: 180px;
}
.welcome-our_projects h1 {
  margin-bottom: 40px;
}
#error_explanation {
  color: red;
}
#card-errors {
  margin-left: 73px;
  color: red;
  margin-bottom: 10px;
}
.field_with_errors {
  text-align: left;
  color: red;
}
.share-buttons {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 620px;
  margin: 0 auto;
}
.btn-social {
  margin-bottom: 20px;
}
.panel.questions-list {
  padding: 50px;
  margin-bottom: 50px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.site-wrapper {
    min-height: 100vh;
    display: table;
    width: 100%;
}
.site-wrapper-inner {
    min-height: 90vh;
}
.site-wrapper-inner.solo-inner-wrapper {
    min-height: 100vh;
    height: 100%;
}
.solo-inner-wrapper {
    .cover-container {
        min-height: 100vh;
        height: 100%;
    }
    .mastfoot {
        margin-top: -58px;
        background-color: transparent;
    }
}
.solo-inner-wrapper .cover {
  padding: 0px 20px;
}
.site-wrapper-first {
  background-image: image-url("background-illustrated-2.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}
.site-wrapper-second {
  background-color: #fff;
  background-repeat:no-repeat;
  background-size: cover; 
  background-position:center;
}
.site-wrapper-third, .site-wrapper-fifth{
  background-color: #f7f5e8;
  background-repeat:no-repeat;
  background-size: cover; 
  background-position:center;
}
.plan {
  padding-top: 50px;
  color: black;
}
.form {
  padding: 3.5px;
}
.form-tonnes {
  padding-top: 40px;
  padding-bottom: 40px;
}
.checkbox {
  text-align: left;
}
.form-group .checkbox input {
  margin-left: 0px;
  width: auto;
  margin-top: 4px;
}
.form-group div {
  text-align: left;
}
.site-wrapper .glyphicon-chevron-down {
    padding-top: 110px;
    font-size: 40px;
    width: 23px;
    text-align: left;
}
.site-wrapper .glyphicon-chevron-down.glyphicon-plan-first {
    padding-top: 0px;
}
.welcome .lead-btn.more-info {
  padding-top: 0px;
  padding-bottom: 0px;
} 
.glyphicon-chevron-down.first {
  color: #fff;
}
.img-circle {
    border-radius: 50%;
}
.welcome .lead-btn {
  padding-top: 30px;
    padding-bottom: 50px;
}
.glyphicon {
    padding-top: 25px;
    font-size: 150px;
    color: #bbd2bd;
}
.glyphicon.steps {
  font-size: 100px;
}
.form-horizontal {
    margin-top: 40px;
}
.modal-content h3 {
  padding-left: 40px;
  padding-right: 40px;
}
.modal-content p {
  padding-left: 40px;
  padding-right: 40px;
}
.dashboard .cover-container h3 {
  padding: 20px;
}
.row.stats.last {
  padding-bottom: 50px;
}
.dashboard .stats.total-offset h1 {
  font-size: 95px;
}
.dashboard .stats.total-offset {
  padding-top: 40px;
}

.form-group {
    div {
        padding: 0px;
    }
    input {
        color: #777;
        width: 200px;
        margin-top: 5px;
    }
    select {
        width: 200px;
        margin-top: 5px;
    }


}
#card-element {
    background-color: #fff;
    width: 300px;
    padding-left: 10px;
}
#current-card {
  margin-left: -13px;
  padding-top: 10px;
}
#current-card a {
  text-color: blue;
  text-decoration: underline;
}
.alert, .notice {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 5px;
}
.dashboard .stats {
    h1 {
        font-size: 50px;
        padding-top: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    h3 {
        padding-bottom: 25px;
    }
    li {
        font-size: 16px;
        padding-left: 5px;
    }
    li.my-stat {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    ol {
        display: inline-block;
    }
    p {
      line-height: 150%;
    }
}
.blog_investment_link {
  margin-top: 40px;
}
.faq .panel img {
  width: 100%;
  height: 100%;
}
input#plan {
    margin-top: 0px;
    width: 75px;
}
p.lead.last {
    padding-bottom: 60px;
}
p.lead a {
  font-weight: bold;
}
.registrations-edit {
    .form-group input { 
        text-align: left; 
    }
    .btn {
      margin-bottom: 100px;
    }
}
.registrations-new {
    .form-group input { 
        text-align: left; 
    }
    .form-horizontal {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .lead {
        margin-top: 20px;
    }
    .site-wrapper .site-wrapper-first {
        background-image: image-url("background-illustrated.png");
    }
}
.mastfoot {
    position: relative;
    background-color: #f7f5e8;
}
.mastfoot .inner {
    padding: 15px;
} 
.lead.last-text {
  margin-top: 40px;
}
.navbar.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar {
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
  }
  .navbar-nav > li > a {
    padding: 11px 20px 11px 0px;
  }
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dropdown-menu {
    min-width: 110px;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
    text-align: center;
  }
  .dropdown-menu > li > a {
    padding: 3px 0px;
  }
  .dropdown img {
    margin-top: -4px;
  }
  .fat-menu {
    min-width: 118px;
  }
  .languages {
    min-width: 60px;
  }
}
div.profile {
  padding-bottom: 40px;
}
.secured-by-stripe {
  font-size: 13px;
  color: #777777;
  margin-right: 6px;
  padding-top: 0px;
}
.stripe-form-group {
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .glyphicon-grain {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .dropdown-toggle {
    text-align: right;
  }
  .form-group {
    input {
        float: left;
    }
    .padding-top {
        padding-top: 13px;
    }
    button {
        float: left;
    }
  }
  .faq .panel {
    max-width: 600px;
  }
  #current-card {
    text-align: left;
  }
}
@media (max-width: 768px) {
    .nav > li > a > img {
      margin-bottom: 3px;
    }

    .form-group {
        select, input {
          display: inline;
          margin: 0 auto;
        }
        #card-element {
          margin: 0 auto;
          width: 300px;
        }
        div {
          text-align: center;
        }
    }
    #card-errors {
      margin-left: 0px;
    }
    .share-buttons {
      width: auto;
    }
    .faq .panel {
      max-width: 300px;
    }
    table.our-projects {
      width: 270px;
      display: block;
    }
}

td.form.select {
    padding: 3px;
} 
.faq {
  .panel-group {
    margin-top: 40px;
  }
  .panel {
    text-align: left;
  }
  .panel-body {
    padding: 20px;
    text-align: left;
  }
}
.panel {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.plan .row {
    margin-left: 15px;
    margin-right: 15px;
}
.plan .col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}
.panel-body {
    padding: 0px;
    text-align: center;
}
.price-info-helper {
    cursor: pointer;
    font-size: 14px;
    top: -10px;
    color: #5cb85c;
    padding-top: 0px;
}
.the-price {
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}
.plan-faq {
  padding-top: 30px;
}
.the-price h1 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript {
    font-size: 25px;
}
.users h3 {
    line-height: 150%;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.users p.welcome {
    margin-bottom: 20px; 
}
table.press {
  margin: 0 auto; 
  background-color: #fff;
  width: 650px;
}
table.press td {
  padding: 20px;
}
table.our-projects td {
    padding: 5px;
    text-align: center;
}
table.our-projects th {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.welcome-press h3 {
  margin-top: 50px;
}


/* CSS-only ribbon styles    */
.cnrflash {
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding      to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner {
    /*Set position, make larger then      container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after {
    /*Use the border triangle trick to make         it look like the ribbon wraps round it's        container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before {
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after {
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label {
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:focus,.btn-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.btn-twitter:active:hover,.btn-twitter.active:hover,.open>.dropdown-toggle.btn-twitter:hover,.btn-twitter:active:focus,.btn-twitter.active:focus,.open>.dropdown-toggle.btn-twitter:focus,.btn-twitter:active.focus,.btn-twitter.active.focus,.open>.dropdown-toggle.btn-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled.focus,.btn-twitter[disabled].focus,fieldset[disabled] .btn-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}