/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #444444;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.masthead h4 a {
  font-size: 14px;
  color: #7b8d7d;
  padding-right: 30px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  color: #7b8d7d;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #444444;
  border-bottom-color: #444444;
}
.projects {
  color: #fff;
}
.projects a {
  color: #fff; 
}
.projects input {
  color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}


p {
    line-height: 200%;
    margin: 0 auto;
    max-width: 600px;
}
p.lead-btn, p.alert, p.warning, p.info, p.notice {
   max-width: none;
}
hr {
    margin: 60px;
}
input { 
    text-align: left;
}
.site-wrapper {
    min-height: 100vh;
    display: table;
    width: 100%;
}
.site-wrapper-inner {
    min-height: 90vh;
}
.site-wrapper-inner.solo-inner-wrapper {
    min-height: 100vh;
    height: 100%;
}
.solo-inner-wrapper {
    .cover-container {
        min-height: 100vh;
        height: 100%;
    }
    .mastfoot {
        margin-top: -58px;
        background-color: transparent;
    }
}
.solo-inner-wrapper .cover {
  padding: 0px 20px;
}
.site-wrapper-first {
  background-image: image-url("background-illustrated-2.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
}
.site-wrapper-second {
  background-color: #fff;
  background-repeat:no-repeat;
  background-size: cover; 
  background-position:center;
}
.site-wrapper-third, .site-wrapper-fifth{
  background-color: #f7f5e8;
  background-repeat:no-repeat;
  background-size: cover; 
  background-position:center;
}
.plan {
  padding-top: 50px;
  color: black;
}
.form {
  padding: 3.5px;
}
.form-tonnes {
  padding-top: 40px;
  padding-bottom: 40px;
}
.checkbox {
    text-align: left;
}
.form-group .checkbox input {
    margin-left: 0px;
}
.site-wrapper .glyphicon-chevron-down {
    padding-top: 110px;
    font-size: 40px;
    width: 23px;
    text-align: left;
}
.site-wrapper-second {
    padding-top: 60px;
}
.site-wrapper-third, .site-wrapper-fifth {
    padding-top: 100px;
}
.welcome .lead-btn {
  padding-top: 30px;
    padding-bottom: 50px;
}
.welcome-index .site-wrapper-third {
  padding-top: 75px;
}
.glyphicon {
    padding-top: 25px;
    font-size: 150px;
    color: #bbd2bd;
}
.glyphicon.steps {
  font-size: 100px;
}
.form-horizontal {
    margin-top: 40px;
}
.welcome .row {
  padding: 50px;
}
.form-group {
    div {
        padding: 0px;
    }
    input {
        color: #777;
        width: 200px;
        margin-top: 5px;
    }
    select {
        width: 200px;
        margin-top: 5px;
    }


}
#card-element {
    background-color: #fff;
    width: 300px;
    padding-left: 10px;
}
.alert, .notice {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 5px;
}
.dashboard .stats {
    h1 {
        font-size: 50px;
        padding-top: 0px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    h3 {
        padding-bottom: 25px;
    }
    li {
        font-size: 16px;
    }
    ol {
        display: inline-block;
    }
}
input#plan {
    margin-top: 0px;
    width: 75px;
}
p.lead.last {
    padding-bottom: 60px;
}
p.lead a {
  font-weight: bold;
}
.registrations-edit {
    .form-group input { 
        text-align: left; 
    }
    .btn {
      margin-bottom: 100px;
    }
}
.registrations-new {
    .form-group input { 
        text-align: left; 
    }
    .form-horizontal {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .lead {
        margin-top: 20px;
    }
    .site-wrapper .site-wrapper-first {
        background-image: image-url("background-illustrated.png");
    }
}
.masthead {
    position: relative;
}
.mastfoot {
    position: relative;
    background-color: #f7f5e8;
}
.mastfoot .inner {
    padding: 15px;
} 
.inner {
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
  }
  .dropdown-menu {
    margin: 2px -38px;
    min-width: 108px;
  }
}

@media (min-width: 768px) {
  .glyphicon-grain {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .form-group {
    input {
        float: left;
    }
    .padding-top {
        padding-top: 13px;
    }
    button {
        float: left;
    }
  }
}
@media (max-width: 768px) {
    .form-group {
        select, input {
            display: inline;
            margin: 0 auto;
        }
        #card-element {
            margin: 0 auto;
            width: 300px;
        }
    }
}
@media only screen and (max-device-width: 768px) {
    .inner ul.dropdown-menu {
        margin: 2px -105px;
    }
    .inner p, .inner address {
        padding: 40px 40px 0px 40px;
    }
    .inner p.lead-btn {
        padding: 0px;
    }
    h3 {
        font-size: 40px;
    }
    .masthead-nav li a {
        font-size: 40px;   
    }
    h4.masthead-brand a {
      font-size: 40px;
    }
    h4.masthead-brand {
      margin-top: 18px;
    }
    h4.masthead-brand.second {
      display: none;
    }
    .mastfoot .inner p {
        font-size: 40px;
    }
    .mastfoot {
      min-height: 260px;
    }
    .solo-inner-wrapper {
        .mastfoot {
            margin-top: 20px;
        }
    }
    .inner .glyphicon {
        font-size: 300px;
        padding-top: 150px;
    }
    h1 {
        font-size: 135px;
        padding-top: 100px;
    }
    h2 {
        font-size: 100px;
        padding-top: 70px;   
    }
    p.lead {
        font-size: 60px;
        margin-top: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    p {
        font-size: 50px;  
        max-width: 1200px;
    }
    address {
        font-size: 60px;
    }
    p.lead a.btn {
        margin-top: 50px;
        font-size: 70px;
        padding: 20px 50px;
        border-radius: 15px;
    }
    p.lead.note {
        font-size: 40px;
    }
    
    h3.panel-title {
        font-size: 70px;
        padding: 10px;
    }
    .panel-heading {
        height: 120px;
    }
    .subscript {
        font-size: 40px;
    }
    .the-price {
        font-size: 80px;
        padding: 50px 20px 10px 20px;
    }
    .table {
        font-size: 40px;
    }
    .form-inline button, a.btn {
        margin: 50px;
        font-size: 70px;
        padding: 10px 40px;
        border-radius: 15px; 
    }
    select.input-sm {
        font-size: 30px;
        height: 60px;
    }

    .notice, .alert {
        font-size: 40px;
    }
    input.small_number#plan {
        width: 150px;
        border-radius: 15px;
        height: 119px;
        padding: 35px;
    }
    .site-wrapper .form-group {
        select, input {
            width: 400px;
            height: 80px;
            font-size: 50px;
        }
        .checkbox input {
            width: 50px;
        }
        .checkbox {
            margin-left: 42px;
        }
        label {
            width: 350px;
            height: 80px;
            font-size: 34px;
            margin-top: 12px;
        }
        .checkbox label {
            margin-left: 35px;
            margin-top: 20px;
        }
        #card-element {
            width: 500px;
            height: 80px;
            padding-top: 22px;
        }
        button.btn {
            margin: 50px;
            font-size: 70px;
            padding: 10px 40px;
            border-radius: 15px;
            margin-left: -250px; 
        }
        button.btn.sign-in {
            margin-left: -50px;
            margin-top: 0px; 
        }
    }
}