.form {
  padding: 3.5px;
}

.form-tonnes {
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkbox {
  text-align: left;
}

.form-group {
  text-align: left;
}

.form-horizontal {
  margin-top: 40px;
}

.form-group {
  .form-control, .input-group {
    color: #777;
    width: 100%;
    max-width: 300px;
  }

  .input-group .form-control {
    max-width: none;
  }

  @media (max-width: 767px) {
    .form-control {
      font-size: 16px; /* 16px is the smallest Safari on iPhone will allow without zooming */
    }

    #card-element {
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .form-control, .input-group {
    max-width: 100% !important;
  }

  .form-group-sm-centered {
    text-align: center;
  }
}

td.form.select {
  padding: 3px;
}

.form-group .description {
  text-align: left;
  padding-bottom: 20px;
}

/* Gift cards */
.form-horizontal.giftcard .control-label {
  padding-top: 12px;
}
.form-horizontal.giftcard textarea {
  width: 200px;
}
