@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  min-height: 100%;
  font-size: 14px;
}
body {
  font-family: 'Raleway', sans-serif;
}

.bg-brand-image {
  background-image: url("../images/background-illustrated-2.png");
}

