<h1>Your API Key</h1>

<p>Your API key is created. We've also emailed the information below to <%= @api_key.contact_email %>.</p>

<p class="lead">Your API key is: <code><%= @api_key.key %></code></p>

<p>Please remember to tell us what you've created when your project is live!</p>
